PORT=4000
API_SECRET=change_this_in_production
BROWSER_HEADLESS=true
PROVIDER_EMAIL=your_provider@email.com
PROVIDER_PASSWORD=your_provider_password
DOWNLOAD_DIR=./downloads
CLEANUP_MAX_AGE_HOURS=24
DOWNLOAD_USER_AGENT=
NODE_ENV=development
